@using ODCenter.Models;
@using ODCenter.Base;
@model ApplicationUser

@{
    Layout = "~/Views/Shared/_LayoutClean.cshtml";
    ViewBag.Title = "机构归属";
}

@section Scripts{
    <script type="text/javascript">
        function emptyins() {
            var elms = document.getElementsByName("Institute")[0].childNodes;
            for (var j = 0; j < elms.length; j++) {
                elms[j].value = "";
            }
        }
    </script>
}

@Html.Partial("_AdminPartial", ViewData["account"] = "active")
<p style="margin-top:16px;">更改<strong>@Model.UserName</strong>的所属机构</p>
@using (Html.BeginForm("Auth", "Account", FormMethod.Post, new { id = "auth_edit", @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken();
    @Html.ValidationSummary(true, "", new { @class = "text-danger" });
    @Html.HiddenFor(model => model.Id);
    @Html.HiddenFor(model => model.Email);
    <div class="form-group">
        @Html.Label("选择机构", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.Institute, @DbProvider.Institutes.List(Model.Institute), new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button class="btn btn-default" onclick="emptyins()">清除</button>
            <input type="submit" value="保存" class="btn btn-default" />
        </div>
    </div>
}
